{% extends './base.html' %}
{% load static %}

{% block head %}
   <title>Forgot password | Crest Islamic Internation School</title>
    {% endblock head %}

{% block body %}

<div class="auth-container-wrapper flex md:items-center justify-center h-screen w-full">
    <div class="auth-container py-5 px-10" style="width: 400px;">
    
    <img class="mx-auto" width="170px" src="{% static 'core/images/ciis-no-bg.png' %}" alt="">
    <p class="text-center font-bold text-lg my-2">Forgot password</p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="w-5/5">
            <label for="email">Email</label>
            <input required class="rounded" type="email" placeholder="Enter email address" name="email" id="email">
        </div>
       
       
        <button style="width: 100%;" class="my-3 py-3 theme-bg hover-secondary-theme-bg text-white font-bold text-sm rounded">Submit</button>
        
    </form>
    <p>Back to <a class="theme-color font-bold underline" href="{% url 'choose-login-type-page' %}">Login</a></p>
</div>
</div>

{% endblock body %}