{% extends './base.html' %}
{% load static %}

{% block head %}
   <title>Parent Login | Crest Islamic Internation School</title>
    {% endblock head %}

{% block body %}

<div class="auth-container-wrapper flex items-center justify-center h-screen w-full">
    <div class="auth-container py-5 px-10" style="width: 400px;">
        <p><a class="theme-color font-bold underline" href="{% url 'choose-login-type-page' %}">Go back</a></p>
    <img class="mx-auto" width="170px" src="{% static 'core/images/ciis-no-bg.png' %}" alt="">
    <p class="text-center font-bold text-lg my-2">Parent Login</p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="lower-input-field w-5/5">
            <label for="email">Email</label>
            <input required class="rounded" type="email" placeholder="Enter your email" name="email" id="email">
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <input required class="rounded" type="password" placeholder="********" name="password" id="password">
        </div>
        <p><a class="theme-color font-bold underline" href="{% url 'forgot-password' %}">Forgot password?</a></p>
        <button style="width: 100%;" class="my-3 py-3 theme-bg hover-secondary-theme-bg text-white font-bold text-sm rounded">Login</button>
        
    </form>
    <p>Login as a <a class="theme-color font-bold underline" href="{% url 'student-login' %}">Student</a></p>
</div>
</div>

{% endblock body %}